
<head>
<script>
var add = function(){
	alert("add");
}
</script>
</head>
<style>
.delete_user{
    background-color: #ECF0F5;

}
.add_user{
background-color:#ECF0F5;
font-size: 24px;
}

</style>
<header id='actionheader'>
	<div>
	<div class="col-md-12">
<div class="col-md-8"></div>
<div class="col-md-4" overflow: auto;>
<div class="col-md-3"><button class="add_user" onclick="add();"><i class="material-icons">add</i></button></div>
<div class="col-md-3"><button class="delete_user" style="font-size:24px"><i class="material-icons">delete</i></button></div>
</div>
</div>

	</div>
</header>