
<html>
<head>
<script>
	$(function() {
		$("#headContent").load("views/header.view.html");
	});
</script>
</head>
<body>
	<div id="headContent"></div>
	<div class="content-wrapper">
		<!-- <div class="panel">
			<form id="client" method="post"> -->
				<div class="section_layout">
					<div class="main-content">
			<div style="width: 100%;" class="title">
				<span>Client</span>
				<div class="addButton">
					<button onclick="location.href = '#/edit_client/';">
						<image>
						<img src="app/images/add.png"  style="width: 25px; height: 25px;"></image>
					</button>
				</div>
				<div class="deleteButton">
					<button ng-click="vm.deleteEmp()">
						<image>
						<img src="app/images/delete.png"
							style="width: 25px; height: 25px;"></image>
					</button>
				</div>
				</div>
				</div>
				<table datatable="ng" id="clientstable"
					dt-options="vm.dtOptions">
					<thead class="widget" style="background: #C0C0C0;">
						<th class="title" style="width:260px;"><input type="checkbox" onClick="toggle(this)"></th>
						<th class="title" >Id</th>
						<th class="title">Name</th>
						<th class="title">Email</th>
						<th class="title">Status</th>
					</thead>
					<tr ng-repeat="row in clients">
						<td align="center"><input type="checkbox" name="checked_id[]" class="checkbox"
							value="{{row.id}}" /></td>
						<td><a href="#/edit_client/:{{row.id}}">{{row.id}}</td>
						<td>{{row.name}}</a></td>
						<td>{{row.email}}</td>
						<td><span ng-if="row.entitystatus.indexOf('1') > -1">Active</span>&nbsp;
                         <span ng-if="row.entitystatus.indexOf('2') > -1">InActive</span>&nbsp;
                         </td>
					</tr>
				</table>
			
		</div>
	</div>
</body>
</html>