<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script>
	$(function() {
		$("#headContent").load("views/header.view.html");
	});
	$('#artist')
			.submit(
					function(event) {
						 $("input[type='submit']", this)
							 .val("Please Wait...")
							  .prop('disabled', true);
				
						$
								.ajax({
									type : 'POST',
									url : 'services/artist.php?function=addOrUpdateArtist',
									data : $(this).serialize(),
									dataType : 'json',
									success : function(data) {
										if (data.success) {
											document.getElementById('artistId').value = data.artistId;
											/* var location = String(window.location);
											if(!location.includes("/:")){
												var newUrl = location + "/:"+data.artistId;
											}											
											window.history.pushState("String", "Title", newUrl); */
											$('button[type=submit], input[type=submit]')
											.val("Save")
											.prop('disabled',false);
											document
													.getElementById("responseMessage").innerHTML = "<span style=color:'green'>"
													+ data.message + "</span>";
											document
													.getElementById("responseMessage").style.color = '#008000'; // red or #ffffff
											document
													.getElementById("responseMessage").style.fontWeight = 'bold';
											window.scrollTo(500, 0);
										} else {
											$('button[type=submit], input[type=submit]')
											.val("Save")
											.prop('disabled',false);
											document
													.getElementById("responseMessage").innerHTML = "<span style=color:'green'>"
													+ data.message + "</span>";
											document
													.getElementById("responseMessage").style.color = 'red'; // red or #ffffff
											document
													.getElementById("responseMessage").style.fontWeight = 'bold';
											window.scrollTo(500, 0);
										}
									}
								});
						// stop the form from submitting and refreshing
						event.preventDefault();
					});
	var back = function() {
		window.location = "/shottrack/#/artist";
	}
</script>
</head>
<body>
	<!-- Header Section -->
	<div id="headContent"></div>
	<div class="content-wrapper" style="min-height: 450px;padding-left: 180px;padding-right: 0px;">

<div class="main-content" style="margin-right: 1px;    margin-left: 0px;">
			<div class="title" >
			<span>Edit Artist</span>
			</div>
			</div>
		<div class="panel" style="min-height: 650px;">
			<div style="text-align: center;">
				<p id="responseMessage"></p>
			</div>

			<div>
				<div style="padding: 50px">
					<form name="artist" id="artist" class="form-horizontal">

						<div class="row">
							<div class="col-sm-12 col-md-12">
							
							<div ng-repeat="userField in userFields">
								<div ng-if="userField.type == 'text'
								|| userField.type == 'email'"
									class="col-xs-6 form-group">
									<label class="col-sm-3">{{userField.title}}<em
											class="rclass" ng-hide ng-if="userField.required =='true'">*</em></label>
									<div class="col-sm-6">
										<input type="{{userField.type}}" id="{{userField.name}}"
											placeholder="{{userField.title}}" name="{{userField.name}}" 
											onkeydown="event.stopPropagation()" ng-model="artistDetails[userField.name]" class="form-control" 
											ng-required="{{userField.required}}" >
									</div>
								</div>
								
								
								<div ng-if=" userField.type == 'date'">
								<div class="col-xs-6 form-group">
														<label class="col-sm-3">{{ userField.title }}<em
											class="rclass" ng-hide ng-if="userField.required =='true'">*</em>
														</label>
														<div class="input-append date form_datetime col-sm-6"
															data-link-field="dtp_receiveddate">
															<input class="form-control" size="16" type="text" placeholder="{{userField.title}}"
																datetimepicker ng-model="artistDetails[userField.name]""
																name="{{userField.name}}" ng-required="{{userField.required}}">
															<span class="add-on"><i class="icon-th"></i></span>
														</div>
													
												</div>
									
									</div>
								
								
								<div ng-if="userField.name == 'genderid'">
									<div class="col-xs-6 form-group">
										<label class="col-sm-3">gender</label>
										<div class="col-sm-6">
											<select id="gender" name="gender"
												ng-model="artistDetails.gender">
												<option value="">Select</option>
												<option value="1">Male</option>
												<option value="2">Female</option>
											</select>
										</div>
									</div>
								</div>
							

							<div ng-if="userField.name == 'companyid'">
								<div class="col-xs-6 form-group">
									<label class="col-sm-3">Company Name</label>
									<div class="col-sm-6">
										<select id="company" name="companyName"
											ng-model="artistDetails.company_name">
											<option value="">Select Company</option>
											<option ng-repeat="company in companies"
												ng-selected="{{company.id==artistDetails.company_name}}" value="{{company.id}}">{{company.name}}</option>
										</select>
									</div>
								</div>
							</div>

							
							<div ng-if="userField.name == 'roleid'">
								<div class="col-xs-6 form-group">
									<label class="col-sm-3">Role<em
											class="rclass" ng-hide ng-if="userField.required =='true'">*</em></label>
									<div class="col-sm-6">
										<select id="role" name="role" ng-model="artistDetails.role"
											required>
											<option value="">Select Role</option>
											<option ng-repeat="role in roles" ng-selected="{{role.id==artistDetails.role}}" value="{{role.id}}">{{role.access}}</option>
										</select>
									</div>
								</div>
							</div>

							<div ng-if="userField.name == 'lead'">
								<div class="col-xs-6 form-group">
									<label class="col-sm-3">lead</label>
									<div class="col-sm-6">
										<select name="lead" id="lead" ng-model="artistDetails.lead">
											<option value="">Select Lead</option>
											<option ng-repeat="lead in leads" ng-selected="{{lead.id==artistDetails.lead}}" value="{{lead.id}}">{{lead.name}}</option>
										</select>
									</div>
								</div>
							</div>

							<div ng-if="userField.name == 'supervisor'">	
								<div class="col-xs-6 form-group">
									<label class="col-sm-3">Supervisor</label>
									<div class="col-sm-6">
										<select name="supervisor" id="supervisor"
											ng-model="artistDetails.supervisor">
											<option value="">Select Supervisor</option>
											<option ng-repeat="supervisor in supervisors"
												ng-selected="{{supervisor.id==artistDetails.supervisor}}" value="{{supervisor.id}}">{{supervisor.name}}</option>
										</select>
									</div>
								</div>
							</div>

							<div ng-if="userField.name == 'projectHead'">
								<div class="col-xs-6 form-group">
									<label class="col-sm-3">Project Head</label>
									<div class="col-sm-6">
										<select name="projecthead" id="projecthead"
											ng-model="artistDetails.project_head">
											<option value="">Select ProjectHead</option>
											<option ng-repeat="project_head in project_heads"
												ng-selected="{{project_head.id==artistDetails.project_head}}" value="{{project_head.id}}">{{project_head.name}}</option>
										</select>
									</div>
								</div>
							</div>

							<div ng-if="userField.name == 'levelid'">	
								<div class="col-xs-6 form-group">
									<label class="col-sm-3">level<em
											class="rclass" ng-hide ng-if="userField.required =='true'">*</em></label>
									<div class="col-sm-6">
										<select name="level" id="level" ng-model="artistDetails.level_id"
											required>
											<option value="">Select Level</option>
											<option ng-repeat="level in levels" ng-selected="{{level.id==artistDetails.level_id}}" value="{{level.id}}">{{level.value}}</option>
										</select>
									</div>
								</div>
							</div>
							<div ng-if="userField.name == 'departmentid'">															
												<div class="col-xs-6 form-group">
													<label class="col-sm-3">{{ userField.title }}<em
														class="rclass" ng-hide ng-if="field.required =='true'">*</em>
													</label>
													<div class="col-sm-6">
														<select id="department" name="departmentid[]"
															ng-model="artistDetails['departmentid']" multiple="true"
															required>
															<option ng-repeat="department in departments"
																ng-selected="isSelected(artistDetails.departmentid, department.id)"
																value="{{department.id}}">{{department.dept}}</option>
														</select> <span
															ng-show=" {{'myForm.'+userField.name+'.$dirty && myForm.'+userField.name+'.$invalid'}}">Required!</span>
													</div>
												</div>											
										</div>
							<div ng-if="userField.name == 'entitystatus'">							
							<div class="col-xs-6 form-group">
									<label class="col-sm-3">Status<em
											class="rclass" ng-hide ng-if="userField.required =='true'">*</em></label>
									<div class="col-sm-6">

										<select name="status" id="status"
											ng-model="artistDetails.status" required>
											<option value="">Select Status</option>
											<option 
												value="1">Active</option>
												<option 
												value="2">InActive</option>
										</select>
									</div>
									</div>
								</div>
								
							</div>
							<div>
								<input type="hidden" name="artistId" id="artistId"
									value="{{artistDetails.id}}"></input>
							</div>

							<div>
								<div class="col-xs-6 form-group">
									<input type="hidden" value="done" id="additional"
										ng-model="additional">
								</div>
							</div>
							<div>
								<div class="col-xs-4 form-group">
								<div class="col-sm-2">
										<input type="submit" style="size: 20px" value="Save">
									</div>
									<label class="col-sm-2"> <input type="button"
										style="size: 20px" onClick="back()" value="Back" size="20px">
										<!-- <a href="#/client" class="btn">back</a> -->
									</label>
									
								</div>
							</div>
						</div>
				</div>

				</form>

			</div>
</div>
		</div>
	</div>
</body>
</html>