<style type="text/css">
.form-horizontal input.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.form-horizontal input.ng-valid.ng-dirty {
	border-color: #78FA89;
}
</style>
<!-- PROCESS FORM WITH AJAX (OLD) -->
<head>
<script>
	$(function() {
		$("#headContent").load("views/header.view.html");
	});
	
	
	function disablefirstbutton() {
	    document.getElementById("firstbutton").disabled = true;
	    document.getElementById("secondbutton").disabled = false;
	}

	function disablesecondbutton() {
	    document.getElementById("secondbutton").disabled = true;
	    document.getElementById("firstbutton").disabled = false;
	}
</script>
<script>
$('#formaddshot').submit(function(event) {	
	$('button[type=submit], input[type=submit]')
	.val("Please wait..")
	.prop('disabled',true);
	$.ajax({
		    type        : 'POST',
		    url         : 'services/shot.php?function=addshot',
		    data        : $(this).serialize(),
			dataType    : 'json',  
		    success     : function(data) {
		    	
		      // log data to the console so we can see
		    // console.log(data);

		        // if validation is good add success message
				if (data.success) {	
					shotallocID	= data.shot_det_id;
					// alert('data'+data.shot_det_id);
					$('button[type=submit], input[type=submit]')
											.val("Save")
											.prop('disabled',false);	
					document.getElementById('shot_det_id').value = data.shot_det_id;
						document
								.getElementById("responseMessage").innerHTML = "<span style=color:'green'>"
								+ data.message + "</span>";
						document
								.getElementById("responseMessage").style.color = '#008000'; // red
																							// or
																							// #ffffff
						document
								.getElementById("responseMessage").style.fontWeight = 'bold';
						window.scrollTo(500, 0);
		       			// alert(data.message);
		       			shotallocID = data.entity;
		       			$scope.shot_det_id = data.shot_det_id;
		       			version = data.version;	
		       			$routeParams.shotalloc_id = data.entity;
		       			$routeParams.version  = data.version;		    			      			
						// window.location =
						// '#/shotallocation/12';
					// window.location.reload(true);
				}else {
					$('button[type=submit], input[type=submit]')
					.val("Save")
					.prop('disabled',false);
					document
					.getElementById("responseMessage").innerHTML = "<span style=color:'red'>"
					+ data.message + "</span>";
			document
					.getElementById("responseMessage").style.color = '#ffffff'; // red																										// or
																						// #ffffff
			document
					.getElementById("responseMessage").style.fontWeight = 'bold';
				
				}
		      }
	  });
	 // stop the form from submitting and refreshing
	  event.preventDefault();
	});

var back = function() {
	window.location = "/shottrack/#/shotdetails";
}


</script>


<style>
.comment::-webkit-scrollbar {
    width: 8px;
  
   
}
.comment::-webkit-scrollbar-track {
    background: #f1f1f1; 
     background-color:#eef1f7;
}
 
.comment::-webkit-scrollbar-thumb {
    background:  #b0bacf;
        border-radius: 6px;
}
.comment::-webkit-scrollbar-thumb:hover {
    background: #8191b1; 
}
.comment {
	overflow: scroll;
	vertical-align: top;
	margin-left: 23px;
	overflow-x: hidden;
	height:84px;
	width: 950px;
	border: 1px solid  #eef1f7;
	border-radius: 7px;
}
#tablist a.active {
    border-color: #d5dae5;
    background-color: #d5dae5;
}

 #tablist a {
  font-family: 'Source Sans Pro', sans-serif;

    font-weight: 510;
    color: #333;
    font-size: 18px;
    
     padding-bottom: 10px;
    margin: 0px 7px 0 -9px;
       /* margin: -74px 28px 40px -43px;
    padding: 9px 42px 9px 50px; */
    }
     #tablist a:hover{
background-color: #d5dae5;
     
     }
#tablist {
    margin-top: 35px;
    margin-bottom: 0em; 
}
.button-class{
    margin-left: 30px;
    margin-top: 15px;
font-weight: 800;
color: #3b3b3b;
font-family: sans-serif,Tahoma;
font-size: 15px;
    }
.panel{
    padding-bottom: 19px;
    }
</style>
</head>
<div class="wrapper1">
	<div id="headContent"></div>
	<!-- sidebar view Ends-->
	<div class="content-wrapper" style="min-height: 491px;">
		<div class="section_layout">
			<div class="main-content">
			<div class="title" style="padding-bottom: 11px; margin-left: -11px;margin-top: -18px;">
				
				
					<!-- <nav class="navbar" role="navigation">
						<div class="navbar-header"> -->
							
				<div >
					<nav role="tablist" id="tablist">
						<a href ng:click="selected=1" class="clickSelect"
							ng-class="{active: selected == 1}" ng-init="selected=1">Add
							Shot</a> 
							<a href ng:click="getShotDet()" class="clickSelect"
							ng-class="{active: selected == 5}">Shot Details</a> 
							<a href
							ng:click="getShotAlloc()" class="clickSelect"
							ng-class="{active: selected == 2}">Shot Allocation</a>
							<a href
							ng:click="getShotFinal()" class="clickSelect"
							ng-class="{active: selected == 6}">Shot Upload</a>
					</nav>
				</div>
				
				
				</div>
				
				</div>
				<div ng:show="selected == 1">
					<div class="panel"  style="margin-top: 40px;">
						<div style="text-align: center;">
				<p id="responseMessage"></p>
			</div>
						<div class="row">
							<div class="col-md-12">
								<form role="form" name="formaddshot" id="formaddshot" autocomplete="off"
									class="form-horizontal">
									<div class="form inline">
										<div ng-repeat="field in fieldsadd">
											<span ng-switch on="field.type"> <span
												ng-switch-when="text">
													<div class="col-xs-6 form-group">
														<label class="col-sm-3">{{ field.title }}<em
															class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
														</label>
														<div class="col-sm-6">
															<input type="text" ng-model="entity[field.name]"
																class="form-control" name="{{field.name}}"
																ng-pattern="{{field.validation}}"
																ng-required="{{field.required}}" /> <span
																ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																class="help-inline">Required</span>
														</div>
													</div>
											</span> <span ng-switch-when="email">
													<div class="col-xs-6 form-group">
														<label class="col-sm-3">{{ field.title }}<em
															class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
														</label>
														<div class="col-sm-6">
															<input type="email" class="form-control"
																ng-model="entity[field.name]" name="{{field.name}}"
																ng-required="{{field.required}}" /> <span
																ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																class="help-inline">Email Required</span> <span
																ng-show="{{'myForm.'+field.name+'.$error.'+field.name}}"
																class="help-inline">Email is not valid</span>
														</div>
													</div>
											</span> <span ng-switch-when="date">
													<div class="col-xs-6 form-group">
														<label class="col-sm-3">{{ field.title }}<em
															class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
														</label>
														<div class="input-append date form_datetime col-sm-6"
															data-link-field="dtp_receiveddate">
															<input class="form-control" size="16" type="text"
																datetimepicker ng-model="entity[field.name]"
																name="{{field.name}}" ng-required="{{field.required}}">
															<span class="add-on"><i class="icon-th"></i></span>
														</div>
													</div>
											</span>


												<div ng-hide ng-if="field.name == 'projectdetailsid'">
													<span ng-switch-when="select">
														<div class="col-xs-6 form-group">
															<label class="col-sm-3">{{ field.title }}<em
																class="rclass" ng-hide ng-if="field.required =='true'">*</em>
															</label>
															<div class="col-sm-6">
																<select id="{{field.name}}" name="{{field.name}}"
																	ng-model="entity[field.name]" ng-required="{{field.required}}">
																	<option value="">Select Project</option>
																	<option ng-repeat="project in projectDetails"
																		ng-selected="{{project.id==entity['shotallocationprojectdetailsid']}}"
																		value="{{project.id}}">{{project.name}}</option>
																</select> <span
																	ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
															</div>
														</div>
													</span>
												</div>

												<div ng-hide ng-if="field.name == 'departmentid'">
													<span ng-switch-when="select">
														<div class="col-xs-6 form-group">
															<label class="col-sm-3">{{ field.title }}<em
																class="rclass" ng-hide ng-if="field.required =='true'">*</em>
															</label>
															<div class="col-sm-6">
																<select id="department" name="department[]"
																	ng-model="entity['shotallocationdepartmentid']"
																	multiple="true" ng-required="{{field.required}}">
																	<option ng-repeat="department in departments"
																		ng-selected="isSelected(entity['shotallocationdepartmentid'], department.id)"
																		value="{{department.id}}">{{department.dept}}</option>
																</select> <span
																	ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
															</div>
														</div>
													</span>
												</div>
												<div ng-hide ng-if="field.name == 'shotstatusid'">
													<div class="col-xs-6 form-group">
														<label class="col-sm-3">{{ field.title }}<em class="rclass">*</em>
														</label>
														<div class="col-sm-6" data-link-field="dtp_input8">
															<select ng-model="entity.status" ng-required="{{field.required}}">
																<option value="">Select Status</option>
																<option ng-repeat="statustemp in statusList"
																	ng-selected="isSelected(entity.status, statustemp.id)"
																	value="{{statustemp.id}}">{{statustemp.value}}</option>
															</select> <span class="add-on"><i class="icon-th"></i></span>
														</div>
														<input type="hidden" id="dtp_input8"
															value="{{entity.status}}" name="status">
													</div>
												</div>

												<div ng-hide
													ng-if="field.name != 'projectdetailsid' && field.name != 'departmentid' && field.name != 'shotstatusid'">
													<span ng-switch-when="select">

														<div class="col-xs-6 form-group">
															<label class="col-sm-3">{{ field.title }}<em
																class="rclass" ng-hide ng-if="field.required =='true'">*</em>
															</label>
															<div class="col-sm-6">
																<select ng-model="entity" id="{{field.name}}"
																	name="{{field.name}}"
																	ng-options="{{'item as item.name for item in' + ' ' +'shotallocation'+field.endpoint+ ' ' +'track by item.'+'shotallocation'+field.endpoint}}"
																	class="form-control" ng-required="{{field.required}}"><option
																		value="">Select</option></select> <span
																	ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
															</div>
														</div>

													</span>
												</div> <span ng-switch-when="textarea">
													<div class="col-xs-6 form-group">
														<label class="col-sm-3">{{ field.title }}<em
															class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
														</label>
														<div class="col-sm-6">
															<textarea name="{{field.name}}"
																ng-model="entity[field.name]" class="form-control"
																ng-required="{{field.required}}" /></textarea>
															<span
																ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
														</div>
													</div>
											</span>
										</div>
										<div class="col-xs-6 form-group"></div>
										<div class="col-xs-6 form-group"></div>
										<div class="col-xs-6 form-group"></div>

										<input type="hidden" value="" name="projectname"
											id="projectname" /> <input type="hidden" id="version"
											value="{{entity.version}}" name="version" /> <input
											type="hidden" value="{{shotstatusidd}}" name="shotstatusid" />
										<input type="hidden" id="entityid" value="{{entityid}}"
											name="entityid" /> <input type="hidden" id="shot_det_id"
											value="{{shot_det_id}}" name="shot_det_id" /> <br /> <br />
										<div class="col-xs-4 form-group">																						

											<div class="col-md-2">
											<input type="submit" value="Save" >	
												<!-- <button ng-click="addShot()" class="btn btn-primary">Save</button> -->
											</div>
											<div class="col-md-2">
											<input type="button" onclick="back()" value="back">
														<!-- <button ng-click="back()"
															class="btn btn-primary">Back</button> -->
											</div>	
										</div>
									</div>
							</div>
							</form>
						</div>
					</div>
				</div>

				<div ng:show="selected == 5" >
					<div id="test1" ng-repeat="shotDetail in shotDetails">
						<div id="{{shotDetail.dept+'dept'}}">
							<div class="panel"  style="margin-top: 40px;">
							<div style="text-align: center;">
									<p id="{{shotDetail.dept+'responseMessage'}}"></p>
							</div>
								<div class="row">
									<div class="col-md-12">
									
										<div class="col-md-10">{{shotDetail.dept}}</div>

										<form name="{{'formaddshotdept' + shotDetail.dept}}"
											id="{{'formaddshotdept' + shotDetail.dept}}">
											<div class="form inline">



												<div ng-repeat="field in shotDeptFields">
													<span ng-switch on="field.type"> <span
														ng-switch-when="text">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="text" ng-model="shotDetail[field.name]"
																		class="form-control" name="{{field.name}}"
																		ng-pattern="{{field.validation}}"
																		ng-required="{{field.required}}"
																		ng-readonly="{{field.disabled}}" /> <span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Required</span>
																</div>
															</div>
													</span> <span ng-switch-when="email">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="email" class="form-control"
																		ng-model="shotDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}" />
																	<span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Email Required</span> <span
																		ng-show="{{'myForm.'+field.name+'.$error.'+field.name}}"
																		class="help-inline">Email is not valid</span>
																</div>
															</div>
													</span> <span ng-switch-when="date">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="input-append date form_datetime col-sm-6"
																	data-link-field="dtp_receiveddate">
																	<input class="form-control" size="16" type="text"
																		ng-readonly="{{field.disabled}}" datetimepicker
																		ng-model="shotDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}">
																	<span class="add-on"><i class="icon-th"></i></span>
																</div>
															</div>
													</span>



														<div ng-hide ng-if="field.name == 'shotstatusid'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">Status<em class="rclass">*</em>
																</label>
																<div class="col-sm-6" data-link-field="dtp_input8">
																	<select ng-model="shotDetail.status">
																		<option ng-repeat="statustemp in statusList"
																			ng-selected="isSelected(shotDetail.status, statustemp.id)"
																			value="{{statustemp.id}}">{{statustemp.value}}</option>
																	</select> <span class="add-on"><i class="icon-th"></i></span>
																</div>
																<input type="hidden" id="dtp_input8"
																	value="{{shotDetail.status}}" name="status">
															</div>
														</div>

														<div ng-hide ng-if="field.name != 'shotstatusid'">
															<span ng-switch-when="select">
																<div class="col-xs-6 form-group">
																	<label class="col-sm-3">{{ field.title }}<em
																		class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																	</label>
																	<div class="col-sm-6">
																		<select ng-model="shotDetail[field.name]"
																			id="{{field.name}}" name="{{field.name}}"
																			ng-options="{{'item as item.name for item in' + ' ' +'shotallocation'+field.endpoint+ ' ' +'track by item.'+'shotallocation'+field.endpoint}}"
																			class="form-control" ng-required="{{field.required}}"><option
																				value="">Select</option></select> <span
																			ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																	</div>
																</div>

															</span>
														</div> <span ng-switch-when="textarea">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<textarea name="{{field.name}}"
																		ng-model="shotDetail[field.name]" class="form-control"
																		ng-required="{{field.required}}" /></textarea>
																	<span
																		ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																</div>
															</div>
													</span>
													</span>
												</div>




											<input type="hidden" value="{{shotDetail.dept_id}}"
												name="department" /> <input type="hidden"
												value="{{shotDetail.version}}" name="version" /> <input
												type="hidden"
												value="{{entity.shotallocationprojectdetailsid}}"
												name="project" /> <input type="hidden"
												value="{{entity.shotallocationprojectname}}"
												name="projectname" /> <input type="hidden"
												value="{{entity.shotcode}}" name="shotcode" /> <input
												type="hidden"
												value="{{entityshotalloc1.shotallocationstatusid}}"
												name="shotstatusid" /> <input type="hidden"
												value="{{entityid}}" name="entityid" /> <input
												type="hidden" value="{{editshotallocid}}"
												name="editshotallocid" /> <input type="hidden"
												value="{{shotDetail.id}}" name="shot_dept_details_id" /> <input
												type="hidden" value="{{shotDetail.identify_id}}"
												name="shot_dept_details_identify_id" /> <input
												type="hidden" value="{{shotDetail.shot_det_id}}"
												name="shot_det_id" /> <input type="hidden"
												value="{{shotDetail.status}}" name="previousStatus" />
											<div class="col-xs-6 form-group">
												<div class="col-md-2">
													<button
														ng-click="submitShotDetails(shotDetail.dept, shotDetail)"
														class="btn btn-primary">Save</button>
												</div>
												<div class="col-md-2">
													<button ng-click="back()" class="btn btn-primary">Cancel</button>
												</div>
												<div class="col-md-2">
													<button class="btn btn-primary"
														data-toggle="modal" data-target="#myModalShot"
														>View Comments</button>
												</div>

												<div id="myModalShot" class="modal fade" role="dialog">
													<div class="modal-dialog">

														<!-- Modal content-->
														<div class="modal-content">

															<div class="title">
																<span>Feedback & Comments</span>

																<button type="button" class="close" data-dismiss="modal">&times;</button>

															</div>

															<div class="modal-body">
																<div class="col-xs-6 form-group">
																	<label class="col-sm-2">FeedBack </label>
																	<div class="col-sm-8">
																		<textarea name="feedback" id="feedback"
																			class="form-control" /></textarea>
																	</div>
																</div>
																<div class="col-xs-6 form-group">
																	<label class="col-sm-2">FeedBack Path </label>
																	<div class="col-sm-8">
																		<input type="text" id="feedbackpath"
																			name="feedbackpath" class="form-control"></input>
																	</div>

																</div>


																<div class="modal-footer">
																	<button
																		ng-click="addOrUpdateComment(shotDetail.identify_id, this)"
																		class="btn btn-primary">Save</button>
																</div>

															</div>
															<div ng-repeat="comment in comments">
															{{comment.entity_id}}
															{{shotDetail.identify_id}}
																<div ng-hide
																	ng-if="comment.entity_id == shotDetail.identify_id">
																	<p class="comment">
																		<strong>{{comment.name}}</strong> added a comment -
																		{{comment.created_date}} <br> Feedback -
																		{{comment.feedback}} <br> Feedback Path -
																		{{comment.feedback_path}}
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>


												</div>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng:show="selected == 2">
					<div class="panel"  style="margin-top: 40px;">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-10">
									<b> PROJECT : </b> {{entity.projectname}} and {{userroleid.userrole}} <b>
										SHOT : </b> {{entity.shotcode}} <b> Version : </b>{{entity.version}}
								</div>
							</div>
						</div>
					</div>
					<div id="shotAllocation" ng-repeat="shotDetail in shotDetails">
							
						<div id="{{shotDetail.dept}}">
							<div class="panel">
								<div class="row">
								<div style="text-align: center;">
									<p id="{{shotDetail.dept+'responseAllocMessage'}}"></p>
								</div>
									<div class="col-md-12">
										<div class="col-md-10">{{shotDetail.dept}}</div>
										<form name="{{'formaddshotallocdept' + shotDetail.dept}}"
											id="{{'formaddshotallocdept' + shotDetail.dept}}">
											<div class="form inline">





												<div ng-repeat="field in shotDeptAllocDetails">
													<span ng-switch on="field.type"> <span
														ng-switch-when="text">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="text" ng-model="shotDetail[field.name]"
																		class="form-control" name="{{field.name}}"
																		ng-pattern="{{field.validation}}"
																		ng-required="{{field.required}}"
																		ng-readonly="{{field.disabled}}" /> <span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Required</span>
																</div>
															</div>
													</span> <span ng-switch-when="email">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="email" class="form-control"
																		ng-model="shotDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}" />
																	<span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Email Required</span> <span
																		ng-show="{{'myForm.'+field.name+'.$error.'+field.name}}"
																		class="help-inline">Email is not valid</span>
																</div>
															</div>
													</span> <span ng-switch-when="date">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="input-append date form_datetime col-sm-6"
																	data-link-field="dtp_receiveddate">
																	<input class="form-control" size="16" type="text"
																		ng-readonly="{{field.disabled}}" datetimepicker
																		ng-model="shotDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}">
																	<span class="add-on"><i class="icon-th"></i></span>
																</div>
															</div>
													</span>



														<div ng-hide ng-if="field.name == 'shotstatusid'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">Status<em class="rclass">*</em>
																</label>
																<div class="col-sm-6" data-link-field="dtp_input8">
																	<select ng-model="shotDetail.status" ng-required="{{field.required}}">
																		<option value="">Select Status</option>
																		<option ng-repeat="statustemp in statusList"
																			ng-selected="isSelected(shotDetail.status, statustemp.id)"
																			value="{{statustemp.id}}">{{statustemp.value}}</option>
																	</select> <span class="add-on"><i class="icon-th"></i></span>
																</div>
																<input type="hidden" id="dtp_input8"
																	value="{{shotDetail.status}}" name="status">
															</div>
														</div>
														<div ng-hide ng-if="field.name == 'internalArtist'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">IH Artist<em
														class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																</label>
																<div class="col-sm-6">
																	<select
																		id="{{'shotallocation'+shotDetail.dept+'artistId'}}"
																		title="letters should be white to select"
																		multiple="true" name="shotallocationartistid[]"
																		ng-model="shotDetail.inhouse_id" class="form-control">
																		<option
																			ng-repeat="option in shotDetail.shotartistlist"
																			ng-selected="isSelected(shotDetail.inhouse_id, option.id)"
																			value="{{option.id}}">{{option.name}}</option>
																	</select>
																	<!-- <select
																	id="{{'shotallocation'+shotDetail.dept+'artistId'}}"
																	title="letters should be white to select"
																	name="shotallocationrotoartistid[]" multiple="true"
																	ng-required="{{field.required}}"
																	ng-model="shotDetail.inhouse_id"
																	ng-options="{{'item as item.shotallocationartistname for item in shotDetail.shotartistlist track by item.shotallocationartistid'}}"
																	class="form-control"><option value="">Select</option></select> -->
																	<span
																		ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																</div>
															</div>
														</div>
														<div ng-hide ng-if="field.name == 'vendordepartmentid'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">Vendor Id<em
																	class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																</label>
																<div class="col-sm-6">
																	<select
																		id="{{'shotallocation'+shotDetail.dept+'vendorid'}}"
																		title="letters should be white to select"
																		name="shotallocationvendorid[]" multiple="true"
																		ng-required="{{field.required}}"
																		ng-model="shotDetail.vendor_id" class="form-control">
																		<option
																			ng-repeat="option in shotDetail.shotvendorlist"
																			ng-selected="isSelected(shotDetail.vendor_id, option.id)"
																			value="{{option.id}}">{{option.name}}</option>
																	</select> <span
																		ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																</div>
															</div>
														</div>
														<div ng-hide
															ng-if="field.name == 'freelancerdepartmentid'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">Freelancer Id<em
																	class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																</label>
																<div class="col-sm-6">
																	<select title="letters should be white to select"
																		name="shotallocationfreelancerid[]" multiple="true"
																		ng-required="{{field.required}}"
																		ng-model="shotDetail.freelancer_id"
																		class="form-control">
																		<option
																			ng-repeat="option in shotDetail.shotfreelancerlist"
																			ng-selected="isSelected(shotDetail.freelancer_id, option.id)"
																			value="{{option.id}}">{{option.name}}</option>
																	</select> <span
																		ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																</div>
															</div>
														</div>
														<div ng-hide
															ng-if="field.name != 'shotstatusid' && field.name != 'freelancerdepartmentid'
														&& field.name != 'vendordepartmentid' && field.name != 'internalArtist'">
															<span ng-switch-when="select">
																<div class="col-xs-6 form-group">
																	<label class="col-sm-3">{{ field.title }}<em
																		class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																	</label>
																	<div class="col-sm-6">
																		<select ng-model="shotDetail[field.name]"
																			id="{{field.name}}" name="{{field.name}}"
																			ng-options="{{'item as item.name for item in' + ' ' +'shotallocation'+field.endpoint+ ' ' +'track by item.'+'shotallocation'+field.endpoint}}"
																			class="form-control" ng-required="{{field.required}}"><option
																				value="">Select</option></select> <span
																			ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																	</div>
																</div>

															</span>
														</div> <span ng-switch-when="textarea">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<textarea name="{{field.name}}"
																		ng-model="shotDetail[field.name]" class="form-control"
																		ng-required="{{field.required}}" /></textarea>
																	<span
																		ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																</div>
															</div>
													</span>
													</span>
												</div>


												<input type="hidden" value="{{shotDetail.dept_id}}"
													name="department" /> <input type="hidden"
													value="{{entity.version}}" name="version" /> <input
													type="hidden"
													value="{{entityshotalloc1.shotallocationstatusid}}"
													name="shotstatusid" /> <input type="hidden"
													value="{{entityid}}" name="entityid" /> <input
													type="hidden" value="{{editshotallocid}}"
													name="editshotallocid" /> <input type="hidden"
													value="{{shotDetail.id}}" name="shot_dept_details_id" /> <input
													type="hidden" value="{{shotDetail.identify_id}}"
													name="shot_dept_details_identify_id" />
												 <input type="hidden"
													value="{{shotDetail.shot_det_id}}" name="shot_det_id" /> <input
													type="hidden" value="{{shotDetail.status}}"
													name="previousStatus" />

												<div class="col-xs-12 form-group">
													<div class="col-md-6">
														
													</div>
													<div class="col-md-1">
														<button ng-click="submitShotAllocDetails(shotDetail.dept)"
															class="btn btn-primary">Save</button>
													</div>
													<div class="col-md-1 cancel">
														<button ng-click="back()"
															class="btn btn-primary">Back</button>
													</div>												

												</div>
											</div>

										</form>

									</div>
								</div>
							</div>
						</div>
					</div>


					<!--roto artist timing -->
					<div ng-repeat="shotAllocDetail in shotAllocDetails">
						<div id="{{shotAllocDetail.dept+ 'workdetails'}}">								
							<div class="panel">
								<div class="row">
								<div style="text-align: center;">
									<p id="{{shotAllocDetail.dept + shotAllocDetail.worker_name + 'responseMessage'}}"></p>
								</div>
								<div class="button-class">
								<button name="start" id="{{shotAllocDetail.dept+ 'start'+shotAllocDetail.id}}" value="start"
								ng-click="startShotWork(shotAllocDetail.id,shotAllocDetail.dept,shotAllocDetail.start_time, shotAllocDetail.pause_time, shotAllocDetail.status)" ng-disabled="shotAllocDetail.start_time!=datetime||shotAllocDetail.actualenddate!=datetime">Start</button>
							<button name="pause" id="{{shotAllocDetail.dept+ 'pause'+shotAllocDetail.id}}" value="pause"
								ng-click="pauseShotWork(shotAllocDetail.id,shotAllocDetail.dept, shotAllocDetail.start_time, shotAllocDetail.pause_time, shotAllocDetail.status)" ng-disabled="shotAllocDetail.start_time==datetime">Pause</button>
							<button name="complete" id="{{shotAllocDetail.dept+ 'complete'+shotAllocDetail.id}}" value="complete"
								ng-click="completeShotWork(shotAllocDetail.id,shotAllocDetail.dept,shotAllocDetail.start_time, shotAllocDetail.pause_time, shotAllocDetail.status)"ng-disabled="shotAllocDetail.start_time==datetime||shotAllocDetail.actualenddate!=datetime">Complete</button>
									</div>
									
									<div class="col-md-12">									
									
										<div class="col-md-10">{{shotAllocDetail.dept}}
										
											{{shotAllocDetail.worker_name}} workdetails
											
											{{userroleid.userrole}}
											
											</div>

										<form role="form"
											name="{{'formshotalloc' + shotAllocDetail.dept + shotAllocDetail.worker_name + 'workdetails'}}"
											id="{{'formshotalloc' + shotAllocDetail.dept + shotAllocDetail.worker_name + 'workdetails'}}"
											class="form-inline">
											<div class="col-xs-4 form-group"></div>
											<div class="col-xs-3 form-group"></div>
											<div class="form inline">
												<div ng-repeat="field in shotWorkAllocDetails">
													<span ng-switch on="field.type"> <span
														ng-switch-when="text">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="text"
																		ng-model="shotAllocDetail[field.name]"
																		class="form-control" name="{{field.name}}"
																		ng-pattern="{{field.validation}}"
																		ng-required="{{field.required}}"
																		ng-readonly="{{field.disabled}}" /> <span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Required</span>
																</div>
															</div>
													</span> <span ng-switch-when="email">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="email" class="form-control"
																		ng-model="shotAllocDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}" />
																	<span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Email Required</span> <span
																		ng-show="{{'myForm.'+field.name+'.$error.'+field.name}}"
																		class="help-inline">Email is not valid</span>
																</div>
															</div>
													</span> <span ng-switch-when="date">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="input-append date form_datetime col-sm-6"
																	data-link-field="dtp_receiveddate">
																	<input class="form-control" size="16" type="text"
																		ng-readonly="{{field.disabled}}" datetimepicker
																		ng-model="shotAllocDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}"
																		ng-disabled="userroleid.userrole=='7'||field.disabled == 'true'"
																		>
																	<span class="add-on"><i class="icon-th"></i></span>
																</div>
															</div>
													</span>
														<div ng-hide ng-if="field.name == 'shotstatusid'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">Status<em
														class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																</label>
																<div class="col-sm-6" data-link-field="dtp_input8">
																	<select ng-model="shotAllocDetail.status">
																		<option ng-repeat="statustemp in statusList"
																			ng-selected="isSelected(shotAllocDetail.status, statustemp.id)"
																			value="{{statustemp.id}}">{{statustemp.value}}</option>
																	</select> <span class="add-on"><i class="icon-th"></i></span>
																</div>
																<input type="hidden" id="dtp_input8"
																	value="{{shotAllocDetail.status}}" name="status">
															</div>
														</div>
														<div ng-hide ng-if="field.name == 'qcperson'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">QC person<em
																	class="rclass">*</em>
																</label>
																<div class="col-sm-6">
																	<select name="qcperson"
																		ng-model="shotAllocDetail.qcperson">
																		<option ng-repeat="lead in leads"
																			ng-selected="isSelected(shotAllocDetail.qcperson, lead.id)"
																			value="{{lead.id}}">{{lead.name}}</option>
																	</select> <span class="add-on"><i class="icon-th"></i></span>
																</div>
															</div>
														</div>
														<div ng-hide
															ng-if="field.name != 'shotstatusid' && field.name != 'qcperson'">
															<span ng-switch-when="select">
																<div class="col-xs-6 form-group">
																	<label class="col-sm-3">{{ field.title }}<em
																		class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																	</label>
																	<div class="col-sm-6">
																		<select ng-model="shotAllocDetail[field.name]"
																			id="{{field.name}}" name="{{field.name}}"
																			ng-options="{{'item as item.name for item in' + ' ' +'shotallocation'+field.endpoint+ ' ' +'track by item.'+'shotallocation'+field.endpoint}}"
																			class="form-control" ng-required="{{field.required}}"><option
																				value="">Select</option></select> <span
																			ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																	</div>
																</div>

															</span>
														</div> <span ng-switch-when="textarea">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<textarea name="{{field.name}}"
																		ng-model="shotAllocDetail[field.name]"
																		class="form-control" ng-required="{{field.required}}" /></textarea>
																	<span
																		ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																</div>
															</div>
													</span>

													</span>
												</div>
											</div>






											<input type="hidden" value="{{shotAllocDetail.id}}"
												name="shot_work_detail_id" id="shot_work_detail_id" /> <input
												type="hidden" value="{{shotAllocDetail.internalmandays}}"
												name="internalmandays" /> <input type="hidden"
												value="{{$index}}" name="length" /> <input type="hidden"
												value="{{value}}" name="artistid{{$index+1}}" /> <input
												type="hidden" value="{{entity.version}}"
												name="version{{$index+1}}" /> <input type="hidden"
												value="12" name="entityid{{$index+1}}" /> <input
												type="hidden" value="{{editshotallocid}}"
												name="editshotallocid{{$index+1}}" /> <input type="hidden"
												value="{{shotAllocDetail.shot_det_id}}" name="shot_det_id" />
											<input type="hidden" value="{{shotAllocDetail.worker_id}}"
												name="worker_id" /> <input type="hidden"
												name="previousStatus" value="{{shotAllocDetail.status}}" />
											<input type="hidden" name="shot_dept_details_identify_id"
												value="{{shotAllocDetail.shot_dept_details_identify_id}}" />
											<input type="hidden" name="shot_dept_det_id"
												value="{{shotAllocDetail.shot_dept_det_id}}" /> <input
												type="hidden" name="worker_team_type"
												value="{{shotAllocDetail.worker_team_type}}" /> <input
												type="hidden" name="worker_name"
												value="{{shotAllocDetail.worker_name}}" /> <input
												type="hidden" name="shot_work_detail_identify_id"
												value="{{shotAllocDetail.identify_id}}" />
												<input
												type="hidden" name="start_time"
												value="{{shotAllocDetail.start_time}}" />
												<input
												type="hidden" name="pause_time"
												value="{{shotAllocDetail.pause_time}}" />

											
											<div class="col-md-12">
											<div class="col-md-6"></div>
											<div class="col-md-6 cancel">

												<div class="col-md-2">
													<button
														ng-click="submitWorkDetails(shotAllocDetail.dept, shotAllocDetail.worker_name, shotAllocDetail)"
														class="btn btn-primary">Save</button>
												</div>
												<div class="col-md-2">
														<button ng-click="back()"
															class="btn btn-primary">Back</button>
												</div>	
												<div class="col-md-2">
													<button type="button" class="btn btn-primary"
														data-toggle="modal" data-target="#myModal" style="line-height:0.65;">View
														Comments</button>
												</div>
</div>
</div>
												<div id="myModal" class="modal fade" role="dialog">
													<div class="modal-dialog">

														<!-- Modal content-->
														<div class="modal-content" >
														
														<div class="title">
														<span>Feedback & Comments</span>
															
										<button type="button" class="close" data-dismiss="modal">&times;</button>
																
															</div>

															<div class="modal-body">
																<div class="col-xs-6 form-group">
																	<label class="col-sm-2">FeedBack </label>
																	<div class="col-sm-8">
																		<textarea name="feedback" id="feedback"
																			class="form-control" /></textarea>
																	</div>
																</div>
																<div class="col-xs-6 form-group">
																	<label class="col-sm-2">FeedBack Path </label>
																	<div class="col-sm-8">
																		<input type="text" id="feedbackpath"
																			name="feedbackpath" class="form-control"></input>
																	</div>

																</div>


																<div class="modal-footer">
																	<button
																		ng-click="addOrUpdateComment(shotAllocDetail.id, this)"
																		class="btn btn-primary">Save</button>
																</div>

															</div>
															<div ng-repeat="comment in comments">
																<div ng-hide
																	ng-if="comment.entity_id == shotAllocDetail.id">
																	<p class="comment">
																		<strong>{{comment.name}}</strong> added a comment -
																		{{comment.created_date}} <br> Feedback -
																		{{comment.feedback}} <br> Feedback Path -
																		{{comment.feedback_path}}
																	</p>
																</div>
															</div>
														</div>


													</div>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
				
				

			<div ng:show="selected == 6">
			{{uploadFields}}
					<div class="panel"  style="margin-top: 40px;">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-10">
									<b> PROJECT : </b> {{entity.projectname}} and {{userroleid.userrole}} <b>
										SHOT : </b> {{entity.shotcode}} <b> Version : </b>{{entity.version}}
								</div>
							</div>
						</div>
					</div>
					
					<div id="shotAllocation" ng-repeat="shotDetail in shotDetails">
							
						<div id="{{shotDetail.dept}}">
							<div class="panel">
								<div class="row">
								<div style="text-align: center;">
									<p id="{{shotDetail.dept+'responseAllocMessage'}}"></p>
								</div>
									<div class="col-md-12">
										<div class="col-md-10">{{shotDetail.dept}}</div>
										<form name="{{'formaddshotallocdept' + shotDetail.dept}}"
											id="{{'formaddshotallocdept' + shotDetail.dept}}">
											<div class="form inline">

												<div ng-repeat="field in uploadFields">
												{{ field.title }}
													<span ng-switch on="field.type"> <span
														ng-switch-when="text">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="text" ng-model="shotDetail[field.name]"
																		class="form-control" name="{{field.name}}"
																		ng-pattern="{{field.validation}}"
																		ng-required="{{field.required}}"
																		ng-readonly="{{field.disabled}}" /> <span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Required</span>
																</div>
															</div>
													</span> <span ng-switch-when="email">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="col-sm-6">
																	<input type="email" class="form-control"
																		ng-model="shotDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}" />
																	<span
																		ng-show="{{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}"
																		class="help-inline">Email Required</span> <span
																		ng-show="{{'myForm.'+field.name+'.$error.'+field.name}}"
																		class="help-inline">Email is not valid</span>
																</div>
															</div>
													</span> <span ng-switch-when="date">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">{{ field.title }}<em
																	class="rclass" ng-hide ng-if="field.required == 'true'">*</em>
																</label>
																<div class="input-append date form_datetime col-sm-6"
																	data-link-field="dtp_receiveddate">
																	<input class="form-control" size="16" type="text"
																		ng-readonly="{{field.disabled}}" datetimepicker
																		ng-model="shotDetail[field.name]"
																		name="{{field.name}}" ng-required="{{field.required}}">
																	<span class="add-on"><i class="icon-th"></i></span>
																</div>
															</div>
													</span>



														<div ng-hide ng-if="field.name == 'shotstatusid'">
															<div class="col-xs-6 form-group">
																<label class="col-sm-3">Status<em class="rclass">*</em>
																</label>
																<div class="col-sm-6" data-link-field="dtp_input8">
																	<select ng-model="shotDetail.status" ng-required="{{field.required}}">
																		<option value="">Select Status</option>
																		<option ng-repeat="statustemp in statusList"
																			ng-selected="isSelected(shotDetail.status, statustemp.id)"
																			value="{{statustemp.id}}">{{statustemp.value}}</option>
																	</select> <span class="add-on"><i class="icon-th"></i></span>
																</div>
																<input type="hidden" id="dtp_input8"
																	value="{{shotDetail.status}}" name="status">
															</div>
														</div>
														
														<div ng-hide
															ng-if="field.name != 'shotstatusid' && field.name != 'freelancerdepartmentid'
														&& field.name != 'vendordepartmentid' && field.name != 'internalArtist'">
															<span ng-switch-when="select">
																<div class="col-xs-6 form-group">
																	<label class="col-sm-3">{{ field.title }}<em
																		class="rclass" ng-hide ng-if="field.required =='true'">*</em>
																	</label>
																	<div class="col-sm-6">
																		<select ng-model="shotDetail[field.name]"
																			id="{{field.name}}" name="{{field.name}}"
																			ng-options="{{'item as item.name for item in' + ' ' +'shotallocation'+field.endpoint+ ' ' +'track by item.'+'shotallocation'+field.endpoint}}"
																			class="form-control" ng-required="{{field.required}}"><option
																				value="">Select</option></select> <span
																			ng-show=" {{'myForm.'+field.name+'.$dirty && myForm.'+field.name+'.$invalid'}}">Required!</span>
																	</div>
																</div>

															</span>
														</div> 
													</span>
												</div>


												<input type="hidden" value="{{shotDetail.dept_id}}"
													name="department" /> <input type="hidden"
													value="{{entity.version}}" name="version" /> <input
													type="hidden"
													value="{{entityshotalloc1.shotallocationstatusid}}"
													name="shotstatusid" /> <input type="hidden"
													value="{{entityid}}" name="entityid" /> <input
													type="hidden" value="{{editshotallocid}}"
													name="editshotallocid" /> <input type="hidden"
													value="{{shotDetail.id}}" name="shot_dept_details_id" /> <input
													type="hidden" value="{{shotDetail.identify_id}}"
													name="shot_dept_details_identify_id" />
												 <input type="hidden"
													value="{{shotDetail.shot_det_id}}" name="shot_det_id" /> <input
													type="hidden" value="{{shotDetail.status}}"
													name="previousStatus" />

												<div class="col-xs-12 form-group">
													<div class="col-md-6">
														
													</div>
													<div class="col-md-1">
														<button ng-click="submitShotAllocDetails(shotDetail.dept)"
															class="btn btn-primary">Save</button>
													</div>
													<div class="col-md-1 cancel">
														<button ng-click="back()"
															class="btn btn-primary">Back</button>
													</div>												

												</div>
											</div>

										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
					

			</div>
		</div>
	</div>
</div>