<div class="col-md-6 col-md-offset-3">
    <h2>Forgot Password</h2>
    enter registered email address
    
<form role="form" name="myForm" id="formforgotp" ng-submit="vm.forgotp()" class="form-horizontal">
<div class="row">
<div class= "form-group">
    <label class= "col-md-2"> Email address </label>
    <div class="col-md-4">
    <input name="email" ng-model="vm.users.email" type= "email" class= "form-control" placeholder="Enter email" required/>
    <span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Required</span>
    <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
    </div>
</div>

<div class= "form-group">
    <label class= "col-md-2"></label>
    <div class="col-md-4">
    <a href="#/login" class="btn">Cancel</a>
        <button type="submit"  ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">submit</button>
     </div>
</div>
</div>
</form>
 