
<html>
<head>
<script>
	$(function() {
		$("#headContent").load("views/header.view.html");
	});
</script>

</head>
<body>
	<div id="headContent"></div>
	<div class="content-wrapper">
					
					<div class="section_layout">
					<div class="main-content">
			<div class="title">
				<span>User</span>
				<div class="addButton">
					<button onclick="location.href = '#/edit_user/';">
						<image>
						<img src="app/images/add.png" style="width: 25px; height: 25px;"></image>
					</button>
				</div>
				<div class="deleteButton">
					<button ng-click="vm.deleteUser()">
						<image>
						<img src="app/images/delete.png"
							style="width: 25px; height: 25px;"></image>
					</button>
				</div>
				</div>
			
			</div>

				<table datatable="ng"
					id="artiststable" dt-options="vm.dtOptions">
					<thead class="widget" style="background:#C0C0C0;">
						<th class="title" style="width:260px;"><input type="checkbox" onClick="toggle(this)"></th>
						<th class="title" style="width:260px;">Id</th>
						<th class="title" style="width:260px;">Name</th>
						<th class="title" style="width:260px;">Email</th>
						<th class="title" style="width:260px;">Status</th>
					</thead>
				
					<tr ng-repeat="row in users">
						<td align="center"><input type="checkbox" name="checked_id[]"  class="checkbox"
							value="{{row.id}}" ></td>
						<td><a href="#/edit_user/:{{row.id}}">{{row.id}}</a></td>
						<td>{{row.name}}</td>
						<td>{{row.email}}</td>
						<td><span ng-if="row.status.indexOf('1') > -1">Active</span>&nbsp;
                         <span ng-if="row.status.indexOf('2') > -1">InActive</span>&nbsp;
                        </td>
					</tr>
				</table>
			
		</div>
	</div>
</body>
</html>